
* {/*this removes the tiny unintended vertical scroll*/
  box-sizing: border-box;  /*make the html portion take entire window exactly*/
}
html{
  /*border:solid blue 1px;*/
  height:100%; /*make the html portion take full height of the window*/
}
body {
  /*border:solid red 1px;*/
  margin:0; /*remove all margins from body portion*/ /*makes it reach the edge of window*/
  height:100%; /*make body portion reach full height of window*/

  font-family: 'Roboto', sans-serif;
  background-color: rgb(249, 245, 244);
  overflow-y: hidden; /*removes issue of vertical scroll bar when there shouldnt be any*/
}

#title{
  font-size: 30px;
  font-weight: 600;
  padding-left: 20px;
  /*border: solid red 1px;*/
  line-height: 0%;
}

.addBtn{
  position:fixed;
  bottom:30px;
  left:0px;
  right:0px;

  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  margin-left:auto;
  margin-right:auto;
  cursor:pointer;
  display:flex;

  align-items: center; /*used to align icon to center vertically*/
  justify-content: center; /*used to align icon to center horizontally*/
} 



.material-symbols-outlined {
  font-size:35px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/*When Editing a new card*/
.edit-card{
  /*border: solid red 1px;*/
  position:absolute;
  bottom:0;
  left:0;
  right:0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height:95vh;/*make height almost full height of window*/
  z-index: 100; /*make edit card appear above everything else*/
  background-color:white;
}
.top-date{
  /*border: solid red 1px;*/
  display:flex;
  justify-content: space-between;
}
































.card{
  display: flex; /*flexbox mode*/
  flex-direction: column; /*flex in direction vertically*/
  justify-content: space-between; /*equal space between each element in flex box*/
  margin: auto; /*center the card*/
  background-color: rgb(255, 254, 255);
  width: 80%;
  max-width: 450px;
  height: 250px;
  border-radius: 4%/ 2%;
}
.image-section{
  height: 45%;
  border: solid rgb(119, 119, 119) 1px;
}
.text-section{
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid rgb(114, 114, 114) 1px;
}
.text-title{
  height:20%;
  border: solid rgb(129, 129, 129) 1px;
}
.text-body{
  height:80%;
  border: solid rgb(124, 124, 124) 1px;

}
#dateSection{
  height: 10%;
  font-size: 10px;
  /*border: solid rgb(255, 38, 0) 1px;*/
  display:flex;
  align-items:center; /*allign items in the date section to be vertically centered*/

}
#date{
  /*border: solid rgb(124, 124, 124) 1px;*/
  padding-left: 8px;
  color: rgb(109, 108, 110);

}